:root{
    --violet: #BA68C8;
}
/*l'entete*/
body{
    padding-bottom: 10%;
}
h1{
    text-align: center;
    font-size: 500%;
    font-family: "Covered By Your Grace", cursive;
}
/*Image à gauche*/
.img_to_do{
    width: 40%;
    height: 30%;
    float: left;
    display: block;
    margin: auto;
}
/*Le texte à droite*/
.main{
    font-size: 300%;
    margin-bottom: 5%;
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
}
.main p{
    margin-top: 10%;
}

/*texte en bas et le bouton*/
.footer{
    font-size: 200%;
    font-family: 'Bilbo Swash Caps', cursive;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    gap: 10%;
}
.footer a{
    font-family: 'inter';
    background-color: var(--violet);
    color: white;
    border: 0px;
    height: 50%;
    width: 80%;
    font-size: 150%;
    border-radius: 50px;
    box-shadow:0px 0px 5px 5px rgba(0, 0, 0, 0.212);
    margin-top: 5%;
    margin-right: 10%;
    text-decoration: none;
}
.footer a:hover{
    box-shadow:0px 0px 5px 5px var(--violet);
}

@media screen and (max-width: 660px){
    .main{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .footer a{
        width: auto;
    }
}